.container {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  font-size: 14px;
}
.user {
  padding: 16px;
  margin: 16px 0;
  border-radius: 6px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  border: 1px solid rgb(208, 215, 222);
  box-shadow: rgba(31, 35, 40, 0.04) 0px 1px 0px 0px;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  color: color rgb(31, 35, 40);
}
.headerImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 8px;
}
.headerImage img {
  width: 100%;
  height: 100%;
  display: block;
}
.userName {
  font-weight: 400;
  line-height: 36px;
  padding-right: 8px;
}
.job {
  color: rgb(99, 108, 118);
}

.badges {
  display: flex;
  background-color: rgb(246, 248, 250);
  padding: 16px;
}
.badgesItem {
  margin-right: 20px;
}
.badgesItem img {
  width: 60px;
  height: 60px;
  display: block;
}
.badgesName {
  text-align: center;
  color: rgb(31, 35, 40);
  display: block;
  padding-top: 8px;
}
